In [200]:
import pandas as pd
import sqlite3 
import math
import glob

pd.set_option('display.max_rows', None)
list = glob.glob('./*db')
    
conn = sqlite3.connect('./CoinData.db')

try:
    coinlist = pd.read_sql("SELECT * FROM CoinList", conn)
    history = pd.read_sql("SELECT * FROM CoinHistory", conn)

    fromDate = '2022-01-05 09:00:00'
    endDate = '2023-08-05 09:00:00'
    columns = ['Name','FromPrice','MaxPrice','Per']

    df = pd.DataFrame(columns=columns)
    index=0
    for coin in coinlist['Name']:
        index+=1
        indexPrice = history[(history['Name'] == coin) &
                            (history['Date'] == fromDate)]
        sliceHistory = history.loc[(history['Name'] == coin) &
                                (history['Date'] < endDate)]
        maxPrice = sliceHistory.max(axis=0)

        if(len(indexPrice) > 0):
            per = round(
                float(maxPrice['Price']/indexPrice['Price'].values), 1)*100
            df = df.append(
                {'Name': coin, 'FromPrice': indexPrice['Price'].values[0], 'MaxPrice': maxPrice['Price'], 'Per': per}, ignore_index=True)
        else:
            per = "-"
            df = df.append(
                {'Name': coin, 'FromPrice': "없음", 'MaxPrice': maxPrice['Price'], 'Per': per}, ignore_index=True)
    df.to_excel('ppd.xlsx', index=False)
    # with pd.ExcelWriter('./per.xlsx', engine='xlsxwriter') as writer:
    #     df.to_excel(writer, index=False)
    #     ws = writer.sheets['코인캑코']
    # ## 칼럼 폭 조절
    # for i, col in enumerate(df.columns):
    #     width = '30'
    #     ws.set_column(i, i, width+1) ## 여백을 위해 1 추가
    #     ws.autofilter(0, 0, df.shape[0] - 1, df.shape[1] - 1) ## 첫 행 필터 추가
    #     ws.freeze_panes(1, 0) ## 첫 행 고정
    print('저장완료.')
except Exception as e:
    print('Error.',e)

저장완료.

^C

In [2]:
import os

path = os.getcwd().split('/')

for i in range(2):
    new += '/' + path[i]

['', 'Users', 'jed', 'Desktop', '개발', 'Gecko', 'gecko']

In [125]:
import requests 
import json
import pprint
import pandas as pd

# 시간 제한이 없는건지 엄청 빨리 응답함.. 
# 오늘까지 업데이트 필요.
res = requests.get('https://api.coinmarketcap.com/data-api/v3/cryptocurrency/listings/historical?date=2020-11-{day}&start=1&limit=300&convertId=2781,1')

json = res.json()
df = pd.DataFrame(json['data'])
# df.to_excel('dd.xlsx',sheet_name='sheet')
df

# for data in json['data']:
#     df.append(data['name'])

# df.to_excel('2020CoinList',json['data'])

,id,name,symbol,slug,cmcRank,numMarketPairs,circulatingSupply,totalSupply,maxSupply,lastUpdated,dateAdded,tags,quotes,platform
0,1,Bitcoin,BTC,bitcoin,1,9310,1.853586e+07,1.853586e+07,2.100000e+07,2020-11-06T23:00:00.000Z,2013-04-28T00:00:00.000Z,"[mineable, pow, sha-256, store-of-value, state...","[{'name': '2781', 'price': 15565.88058083, 'vo...",NaN
1,1027,Ethereum,ETH,ethereum,2,5437,1.133197e+08,1.133197e+08,NaN,2020-11-06T23:00:00.000Z,2015-08-07T00:00:00.000Z,"[mineable, pow, smart-contracts]","[{'name': '2781', 'price': 454.71929029, 'volu...",NaN
2,825,Tether,USDT,tether,3,8761,1.698589e+10,1.737000e+10,NaN,2020-11-06T23:00:00.000Z,2015-02-25T00:00:00.000Z,"[store-of-value, payments, stablecoin, stablec...","[{'name': '2781', 'price': 1.00029637, 'volume...","{'id': 1, 'name': 'Ethereum', 'symbol': 'ETH',..."
3,52,XRP,XRP,xrp,4,652,4.531249e+10,9.999086e+10,1.000000e+11,2020-11-06T23:00:00.000Z,2013-08-04T00:00:00.000Z,"[medium-of-exchange, enterprise-solutions, bin...","[{'name': '2781', 'price': 0.25844464, 'volume...",NaN
4,1831,Bitcoin Cash,BCH,bitcoin-cash,5,567,1.856505e+07,1.856505e+07,2.100000e+07,2020-11-06T23:00:00.000Z,2017-07-23T00:00:00.000Z,"[mineable, marketplace, enterprise-solutions, ...","[{'name': '2781', 'price': 257.72017061, 'volu...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,3916,ThoreNext,THX,thorenext,298,1,4.795030e+07,2.100000e+08,2.100000e+08,2020-11-06T23:00:00.000Z,2019-05-17T00:00:00.000Z,"[medium-of-exchange, payments]","[{'name': '2781', 'price': 0.52316966, 'volume...","{'id': 1, 'name': 'Ethereum', 'symbol': 'ETH',..."
296,2538,Nectar,NEC,nectar,299,5,1.575175e+08,6.181333e+08,NaN,2020-11-06T23:00:00.000Z,2018-02-21T00:00:00.000Z,"[marketplace, defi, payments, smart-contracts]","[{'name': '2781', 'price': 0.15654444, 'volume...","{'id': 1, 'name': 'Ethereum', 'symbol': 'ETH',..."
297,4033,Native Utility Token,NUT,native-utility-token,300,5,9.828540e+05,9.998686e+06,NaN,2020-11-06T23:00:00.000Z,2020-08-17T00:00:00.000Z,NaN,"[{'name': '2781', 'price': 24.83007704, 'volum...","{'id': 3, 'name': 'EOS', 'symbol': 'EOS', 'slu..."
298,2496,Polymath,POLY,polymath-network,301,32,5.350001e+08,1.000000e+09,NaN,2020-11-06T23:00:00.000Z,2018-02-02T00:00:00.000Z,"[marketplace, crowdfunding]","[{'name': '2781', 'price': 0.04479891, 'volume...","{'id': 1, 'name': 'Ethereum', 'symbol': 'ETH',..."
299,5453,KardiaChain,KAI,kardiachain,302,15,1.750000e+09,5.000000e+09,5.000000e+09,2020-11-06T23:00:00.000Z,2020-04-17T00:00:00.000Z,NaN,"[{'name': '2781', 'price': 0.01363333, 'volume...",NaN

In [41]:

#-*- coding: utf-8 -*-
import os
import sys
import urllib.request
import pprint
import json
client_id = "JtYS_JRKw6fXnHivqrBG"
client_secret = "nb0vD6NX0G"
url = "https://openapi.naver.com/v1/datalab/search";
body = "{\"startDate\":\"2017-01-01\",\"endDate\":\"2018-04-30\",\"timeUnit\":\"month\",\"keywordGroups\":[{\"groupName\":\"경복궁\",\"keywords\":[\"야간개장\",\"korean\"]},{\"groupName\":\"영어\",\"keywords\":[\"영어\",\"english\"]}],\"device\":\"pc\",\"ages\":[\"1\",\"2\"],\"gender\":\"f\"}";

request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)
request.add_header("Content-Type","application/json")
response = urllib.request.urlopen(request, data=body.encode("utf-8"))
rescode = response.getcode()

if(rescode==200):
    response_body = response.read()
    result = json.loads(response_body)
    pprint.pprint(result)
else:
    print("Error Code:" + rescode)

{'endDate': '2018-04-30',
 'results': [{'data': [{'period': '2017-01-01', 'ratio': 3.21489},
                       {'period': '2017-02-01', 'ratio': 2.59447},
                       {'period': '2017-03-01', 'ratio': 2.53807},
                       {'period': '2017-04-01', 'ratio': 3.38409},
                       {'period': '2017-05-01', 'ratio': 4.96333},
                       {'period': '2017-06-01', 'ratio': 5.47095},
                       {'period': '2017-07-01', 'ratio': 3.15848},
                       {'period': '2017-08-01', 'ratio': 3.7789},
                       {'period': '2017-09-01', 'ratio': 4.00451},
                       {'period': '2017-10-01', 'ratio': 3.8917},
                       {'period': '2017-11-01', 'ratio': 4.85053},
                       {'period': '2017-12-01', 'ratio': 2.76367},
                       {'period': '2018-01-01', 'ratio': 2.03045},
                       {'period': '2018-02-01', 'ratio': 1.52284},
                       {'period': '2018-03-01', 'ratio': 2.36886},
                       {'period': '2018-04-01', 'ratio': 2.87648}],
              'keywords': ['야간개장', 'korean'],
              'title': '경복궁'},
             {'data': [{'period': '2017-01-01', 'ratio': 66.72306},
                       {'period': '2017-02-01', 'ratio': 61.08291},
                       {'period': '2017-03-01', 'ratio': 86.74562},
                       {'period': '2017-04-01', 'ratio': 73.99887},
                       {'period': '2017-05-01', 'ratio': 85.33558},
                       {'period': '2017-06-01', 'ratio': 92.9498},
                       {'period': '2017-07-01', 'ratio': 80.48505},
                       {'period': '2017-08-01', 'ratio': 85.39199},
                       {'period': '2017-09-01', 'ratio': 95.20586},
                       {'period': '2017-10-01', 'ratio': 75.40891},
                       {'period': '2017-11-01', 'ratio': 100},
                       {'period': '2017-12-01', 'ratio': 79.30062},
                       {'period': '2018-01-01', 'ratio': 55.66835},
                       {'period': '2018-02-01', 'ratio': 38.86068},
                       {'period': '2018-03-01', 'ratio': 68.24591},
                       {'period': '2018-04-01', 'ratio': 62.26734}],
              'keywords': ['영어', 'english'],
              'title': '영어'}],
 'startDate': '2017-01-01',
 'timeUnit': 'month'}